
$color-white: #ffffff;
$color-black: #000000;

$color-primary: #81C784;
$color-secondary: #C8E6C9;

$color-background-primary: #F5F5F5;
$color-background-secondary: #9E9E9E;
$color-background-tertiary: #E0E0E0;

$color-border: #E6E6E6;
$color-border-hover: #E6E6E6;

$color-surface: #FFFFFF;
$color-text-primary: #333333;
$color-text-secondary: #333333;
$color-text-headline: #333333;


$header-height: 5rem;

$nav-height: 8.4375rem;
$menu-height: 3rem;


$keyword-height: 8.4375rem;


$footer-height: 10rem;
