@use 'variable' as *;

.search-container {
  // height: 11.25rem;
  padding: 40px 0;
  background-color: var(--color-background-secondary, $color-background-secondary);

  .search {
    $height: 60px;
    display: flex;
    font-size: 0;

    input {
      width: 100%;
      height: $height;
      padding: 0 1rem;
      font-size: 1.25rem;
      border-radius: 4px 0 0 4px;
      // border-radius: 4px;
      margin-right: 2px;
    }

    button {
      width: 215px;
      height: $height;
      font-size: 1.75rem;
      font-weight: bold;
      color: var(--color-white, $color-white);
      background-color: var(--color-primary, $color-primary);
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      // border-radius: 4px;
    }
  }


  .keyword {
    // height: $keyword-height;
    // min-height: 90px;
    // padding: 1.5rem 2rem;
    padding: 0;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    // justify-content: center;

    .keyword-title {
      width: 130px;
      min-width: 130px;
      font-weight: 600;
      font-size: 1rem;
      padding-top: 6px;
    }

    .keyword-list-box {
      width: 100%;
    }

    .keyword-list {
      display: flex;
      flex-wrap: wrap;
      // max-width: 1180px;
      // width: fit-content;
      // width: 100%;
      margin: 0 auto;
      // padding-left: 20px;
      margin-right: -20px;
      margin-left: 0;
    }

    .keyword-item {
      width: 322.5px;
      height: 40px;
      line-height: 40px;
      // padding: 0 1rem;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color: var(--color-surface, $color-surface);
      border-radius: 4px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;

      // &:nth-child(4) {
      //   margin-right: 0;
      // }
      &.is-preset {
        background-color: var(--color-secondary, $color-secondary);
      }

      .el-tag {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        .el-tag__content {
          font-size: 1rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          display: inline-block;
          width: 100%;
          line-height: 1.5;
        }
      }
    }
  }

}
