@use 'variable' as *;


.footer {
  // height: $footer-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.76rem 0.96rem 0.32rem;
  font-weight: 600;
  background-color: #333;
  color: #FFFFFF;

  a {
    color: #FFFFFF;
  }

  .info {
    display: flex;
    flex-direction: row;
    width: 100%;

    .info-item {
      width: 1rem;
    }
  }

  .partner {
    h3 {
      padding-bottom: 0.32rem;
    }
    .partner-list {
      display: flex;
      flex-direction: row;
    }
    .partner-list-item {
      padding-right: 0.32rem;
    }
    p {
      padding: 8px 0;
    }
  }
  .wechat {
    padding: 0.32rem;
  }

}
