@use 'variable' as *;

.header {
  height: $header-height;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;

  padding: 0 240px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    color: #FFFFFF;
    padding: 0 0.5rem;
  }

  // .container {
  //   height: $header-height;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  .account {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 120px;
      height: 36px;
      font-size: 1rem;
      margin-left: 2rem;
      background-color: var(--color-surface, $color-surface);
      border-radius: 4px;
      border: 1px solid var(--color-border, $color-border);
      cursor: pointer;
    }
  }
}


