@use 'variable' as *;

.keyword {
  // height: $keyword-height;
  .container {
    // height: $keyword-height;
    min-height: 90px;
    padding: 1.5rem 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .keyword-title {
    width: 130px;
    min-width: 130px;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 6px;
  }

  .keyword-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
  }

  .keyword-item {
    width: 270px;
    height: 40px;
    line-height: 40px;
    // padding: 0 1rem;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: var(--color-surface, $color-surface);
    border-radius: 4px;
    cursor: pointer;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;

    // &:nth-child(4) {
    //   margin-right: 0;
    // }
    &.is-preset {
      background-color: var(--color-secondary, $color-secondary);
    }

    .el-tag {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;

      .el-tag__content {
        font-size: 1rem;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;
        display: inline-block;
        width: 100%;
        line-height: 1.5;
      }
    }
  }
}
