.login,
.register {
  height: 100vh;
  background-image: url('/bg-light.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .el-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    min-height: 300px;
  }

  .box {
    width: 400px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    .title {
      margin: 0;
      padding-bottom: 2rem;
      padding-bottom: 10px;
    }
    button {
      width: 100%;
    }
  }

  .box-header {
    padding-bottom: 2rem;

  }
  .title-tip {
    display: flex;
    align-items: center;
    span {
      padding-right: 8px;
    }
  }
}
